 <h2><%= review.description%></h2>

 <h2><%= review.rating%></h2>

<p>delete</p>
   <% if current_user.id == review.user_id %>
    <%= link_to 'Delete', product_review_path(@product, review),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn btn-primary" %>

<% end %>